<!DOCTYPE prefix="og: http://ogp.me/ns#" html>
<html ng-app="app">

<head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:site_name" content="mcpr">
    <meta property="og:title" content="{{title}}" />
    <meta property="og:url" content="{{currentUrl}}" />
    <meta property="og:description" content="{{description}}">
    <meta name="description" content="{{description}}">
    <title>{{title}}</title>
    <base href="/">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/build/css/lib.min.css">
    <link rel="stylesheet" href="/build/css/app.min.css">
</head>

<body>
    <div ng-include="'layout/header.html'"></div>
    <div ui-view></div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/build/js/lib.min.js"></script>
    <script type="text/javascript" src="/build/js/custom.min.js"></script>
    <script type="text/javascript" src="/build/app/app.min.js"></script>
</body>

</html>