<!DOCTYPE prefix="og: http://ogp.me/ns#" html>
<html ng-app="app" lang="en">

<head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#2e7d32">
    <meta property="og:site_name" content="mcpr">
    <meta property="og:url" content="{{currentUrl}}" />
    <meta property="og:description" content="MCPR - {{plugin.short_description}}">
    <meta name="description" content="MCPR - {{plugin.short_description}}"> {{#if pluginName}}
    <meta property="og:title" content="{{pluginName}}" />
    <title>{{pluginName}} - mcpr</title>
    {{else}}
    <meta property="og:title" content="MCPR" />
    <title>MCPR Beta</title>
    <meta property="og:description" content="MCPR - The Ultimate Minecraft Plugin Registry">
    <meta name="description" content="MCPR - The Ultimate Minecraft Plugin Registry"> {{/if}}
    <base href="/">
    <link rel="manifest" href="manifest.json?v={{deployVersion}}">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{assetBase}}/css/lib.min.css?v={{deployVersion}}">
    <link rel="stylesheet" href="{{assetBase}}/css/app.min.css?v={{deployVersion}}">

    <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    {{#if gaCode}}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{gaCode}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments) };
        gtag('js', new Date());

        gtag('config', '{{gaCode}}');
    </script>
    {{/if}}

    <script src='https://www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded' async
        defer></script>
</head>

<body>
    <noscript>
        <div class="container center">
            <h1>JavaScript Disabled</h1>
            <h4>This page requires JavaScript. Please enable it. </h4>
        </div>
    </noscript>
    <div class="page-flexbox-wrapper">
        <div header></div>
        <main>
            <ui-view autoscroll="true" />
        </main>
        <div footer></div>
    </div>

    <script type="text/javascript" src="{{assetBase}}/js/lib.min.js?v={{deployVersion}}"></script>
    <script type="text/javascript" src="{{assetBase}}/js/custom.min.js?v={{deployVersion}}"></script>
    <script type="text/javascript" src="{{assetBase}}/app/app.min.js?v={{deployVersion}}"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#000"
                    },
                    "button": {
                        "background": "#f1d600"
                    }
                }
            })
        });
        /* setTimeout(function () {
            if (typeof ___browserSync___ === 'undefined') {
                if ('serviceWorker' in navigator) {
                    navigator.serviceWorker.register('service-worker.js', { scope: '/' }).then(function (res) {
                        console.log(res)
                    }).catch(function (err) {
                        console.log(err)
                    });
                }
            }
        }, 1000) */
    </script>
</body>

</html>
